.home-wrapper {
    width: 90%;
    max-width: auto;
    margin: 0 auto;
    // border-top: 4px solid #1c57a5;
    .form-login {
        background: #eee none repeat scroll 0 0;
        padding: 25px 25px 45px;
        position: relative;
        margin-top: 0 !important;
    }
}